SPOTIPY_CLIENT_ID=op://<vault>/<item>/client_id
SPOTIPY_CLIENT_SECRET=op://<vault>/<item>/client_secret
SPOTIPY_REDIRECT_URI=http://127.0.0.1:8888/callback
SPOTIFY_AUTOMATION_SEARCH_MARKETS=BR
SPOTIFY_AUTOMATION_MAX_SEARCH_REQUESTS_PER_ITEM=8
SPOTIFY_AUTOMATION_AUTO_MATCH_THRESHOLD=0.90
SPOTIFY_PLAYLIST_NAME=Concrete Avalanche
