SPOTIPY_CLIENT_ID=op://<vault>/<item>/client_id
SPOTIPY_CLIENT_SECRET=op://<vault>/<item>/client_secret
SPOTIPY_REDIRECT_URI=http://127.0.0.1:8888/callback
OPENAI_API_KEY=op://<vault>/<item>/api_key
OPENAI_MODEL=gpt-5.5
SPOTIFY_AUTOMATION_MATCH_CONCURRENCY=3
SPOTIFY_AUTOMATION_MATCH_RETRIES=3
SPOTIFY_AUTOMATION_SEARCH_MARKETS=BR
SPOTIFY_AUTOMATION_MAX_SEARCH_REQUESTS_PER_ITEM=8
SPOTIFY_PLAYLIST_NAME=Concrete Avalanche
